.NavigationBar{
    background-color: rgb(18,18,18);
    color:rgb(255,255,254);
    display: flex;
    top:0px ;left:0px;right:0px ;
    block-size: 55px;
    box-sizing: border-box;
    margin: 0px;
    position: sticky;
    align-items: center;
    justify-content: center;
    gap: 24px
}
.NavigationBarLogo{
    display : inline-block;
    block-size: 32px;
}
.NavigationBarButton{
    block-size: 22px;
    color: aliceblue;
    background-color: rgb(18,18,18);
    border: 1rem;
}
.NavigationBarForm{
    display: flex;
    box-sizing: content-box;
    width: 720px;
    margin: 0px;
}
.NavigationBarImdbpro{
    display : inline-block;
    block-size: 12px;
}